* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
}

a {
    all: unset;
}

header {
    padding-bottom: 258px;
    padding-top: 50px;
    background: url(./images/Subtract.svg), url(./images/Subtract1.svg), linear-gradient(173deg, #172755 75%, #EF2A82 75% 76.5%, transparent 76.5% 100%);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;

    nav {
        .container {
            justify-content: space-between;
            flex-wrap: wrap;

            input {
                display: none;
            }

            .navbar-left {
                display: flex;
                gap: 82px;
                align-items: center;
                flex-wrap: wrap;

                #ullar {
                    display: flex;
                    overflow: hidden;

                    ul {
                        display: flex;
                        gap: 36px;
                        flex-wrap: wrap;

                        li {

                            list-style: none;

                            a {
                                color: var(--text-secondary, #8794BA);
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }

                    }
                }
            }

            .navbar-right {
                gap: 40px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                flex-wrap: wrap;



                label {
                    display: none;
                }

                a {
                    color: var(--text-secondary, #8794BA);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    list-style: none;

                }

                .sign-up {
                    padding: 10px 53px;
                    text-align: center;
                    border-radius: 68px;
                    border: 1px solid #465B95;
                }
            }
        }
    }

    section {
        .container {
            gap: 81px;

            .img {
                display: none;
            }

            .text {
                max-width: 550px;
                padding-top: 163px;
                display: flex;
                flex-direction: column;
                gap: 40px;

                .sec1-tex {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    h1 {

                        color: #FFF;

                        /* text / H1 */

                        font-size: 50px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                        /* 60px */
                    }

                    p {

                        color: var(--text-secondary, #8794BA);

                        /* text / body */
                        font-family: 'Roboto';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        /* 27px */
                    }
                }

                a {
                    width: 78px;
                    padding: 16px 80px;
                    border-radius: 68px;
                    background: #EF2A82;
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .pic {
                position: absolute;
                right: 0;

                img:nth-child(1) {
                    position: absolute;
                    top: 123px;
                    right: 341px;
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 130px;

    #Features {
        padding-top: 38px;

        .container {
            flex-direction: column;
            align-items: center;
            gap: 81px;

            #tex {
                display: flex;
                flex-direction: column;
                gap: 30px;

                h2 {
                    color: var(--text-main, #172755);
                    text-align: center;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                p {
                    color: var(--text-secondary, #8794BA);
                    text-align: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 27px */
                }
            }

            .cards {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;

                .card {
                    max-width: 380px;
                    display: flex;
                    flex-direction: column;
                    gap: 26px;
                    align-items: center;

                    .text {

                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        align-items: center;

                        h2 {
                            color: var(--text-main, #172755);
                            text-align: center;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        p {
                            color: var(--text-secondary, #8794BA);
                            text-align: center;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 140%;
                            /* 22.4px */
                        }
                    }
                }
            }
        }
    }

    #screnshot {
        display: flex;
        flex-direction: column;
        gap: 120px;

        .container {
            gap: 100px;
            align-items: center;
            flex-wrap: wrap;

            .tex {
                display: flex;
                flex-direction: column;
                gap: 30px;
                max-width: 480px;

                h2 {
                    max-width: 480px;
                    color: var(--text-main, #172755);
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                p {
                    color: var(--text-secondary, #8794BA);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 27px */
                }
            }

            .img {
                max-width: 600px;
                border-radius: 30px;
                background: #FFF;

                /* card / shadow */
                box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.20);
                padding: 51px 69px;

            }
        }
    }
}

footer {

    padding-top: 50px;
    background: url(./images/Subtract\ \(2\).svg), linear-gradient(-3deg, #172755 75%, #EF2A82 75% 76.5%, transparent 76.5% 100%);
    background-position: bottom right;
    background-repeat: no-repeat, no-repeat;

    section {
        .container {
            justify-content: center;
            flex-direction: column;
            gap: 80px;

            #tex {
                max-width: 1060px;
                display: flex;
                flex-direction: column;
                gap: 30px;

                h2 {
                    padding-top: 430px;
                    color: var(--text-main, white);
                    text-align: center;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                p {
                    color: var(--text-secondary, #8794BA);
                    text-align: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 27px */
                }
            }

            .card-box {
                display: flex;

                gap: 80px;

                .card {
                    max-width: 340px;
                    display: flex;
                    flex-direction: column;
                    gap: 28px;
                    border-radius: 30px;
                    padding-top: 50px;
                    padding-left: 67.5px;
                    padding-right: 67.5px;
                    padding-bottom: 70px;
                    background: #0F1F4B;

                    /* card / shadow */
                    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.20);

                    .top {
                        h3 {
                            color: #FFF;
                            text-align: center;

                            font-size: 30px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        p {
                            color: var(--text-secondary, #8794BA);
                            text-align: center;

                            /* text / body */

                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            /* 27px */
                        }
                    }

                    .line {
                        width: 220px;
                        height: 1px;
                        flex-shrink: 0;
                        background: #2A407C;
                    }

                    .bottom {

                        h2 {
                            color: #FFF;
                            text-align: center;
                            font-family: Roboto;
                            font-size: 30px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;

                            b {
                                color: #FFF;
                                font-family: Roboto;
                                font-size: 60px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                            }
                        }

                        p {
                            color: var(--text-secondary, #8794BA);
                            text-align: center;

                            /* text / small */
                            font-family: Roboto;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 140%;
                            /* 22.4px */
                        }
                    }

                    a {


                        padding: 15px 80px;

                        border-radius: 68px;
                        border: 1px solid #2A407C;

                        color: #FFF;
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }

                .card:hover {
                    background-color: #fff;
                    /* card / shadow */
                    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.20);
                    .top {
                        h3 {
                            color: #172755;
                        }
                    }

                    .bottom {
                        h2 {
                            color: #172755;

                            b {
                                color: #172755;
                            }
                        }
                    }

                    a {


                        padding: 15px 80px;

                        border-radius: 68px;
                        border: 1px solid #EF2A82;
                        background-color: #EF2A82;
                        color: #FFF;
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                }
            }

            .Line {
                max-width: 1180px;
                height: 1px;
                flex-shrink: 0;
                justify-content: center;
                background: #2A407C;
            }

            .foot-bar {
                gap: 308.5px;
                display: flex;

                padding-bottom: 103px;

                justify-content: space-between;

                .navbar-left {
                    display: flex;
                    align-items: center;
                    gap: 305.48px;

                    #ullar {
                        display: flex;
                        flex-direction: column;

                        ul {
                            display: flex;
                            gap: 36px;

                            li {
                                display: flex;

                                a {
                                    all: unset;
                                    text-align: center;
                                    color: var(--text-secondary, #7f8aac);

                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                }
                            }
                        }

                    }
                }

                .navbar-right {
                    display: flex;

                    gap: 40px;
                    align-items: center;

                    img {
                        display: flex;
                    }
                }
            }
        }


    }
}